# Maven target directory
target/
!**/src/main/**/target/
!**/src/test/**/target/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Log files
*.log

# System files
.DS_Store
Thumbs.db

